{% extends "layout.njk" %}
{% block content %}
<div class="empty">
  <h1 class="large-title large-title--small">{{ title }}</h1>
  <p>{{ message }}</p>
  <a class="button" href="/">Retour à la bibliothèque</a>
</div>
{% endblock %}
